[Unit]
Description=gaiacli
Requires=network-online.target
After=network-online.target

[Service]
Type=exec
User=centos
Group=centos
Restart=on-failure
PermissionsStartOnly=true
ExecStart=/usr/bin/gaiacli rest-server --laddr tcp://0.0.0.0:1317 --trust-node true --node https://rpc.cosmos.network:26657
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
