[Unit]
Description=gaiad
Requires=network-online.target
After=network-online.target

[Service]
Type=exec
User=ec2-user
Group=ec2-user
Restart=on-failure
PermissionsStartOnly=true
ExecStartPre=-/usr/bin/mount_ebs.sh
ExecStart=/usr/bin/gaiad start
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
